body {
    background-color: #003239;
}

* {
    color: aqua;
}

.bg-image {
    /*background-image: url("../HS.png");*/
    background-image: url("../bg.png"), linear-gradient(to bottom, #1d1d1d, #1d1d1d, #243537, #009a9a);
    /*#727272);*/
    background-size: cover;
    filter: blur(16px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    margin: 0;
    padding: 0;
}


#popularSongs, #hiddenSongs {
    width: 38%;
    margin: 4%;
    border: 1px #78ffee solid;
    padding: 20px;
}

#popularSongs h2, #hiddenSongs h2 {
    text-align: center;
    color: aqua;
}

#popularSongs {
    float: left;
}

#hiddenSongs {
    float: right;
}

h1 {
    text-align: center;
}

.content {
    /*background-color: #1f2523;*/
}