---
layout: default
title: Hidden Sounds
ptitle: Hidden Sounds Unofficial (Fan) Website
---
<div id="popularSongs" class="content">
    <h2>Popular Songs</h2>
    <div id="popularContainer">
        {% assign popularSongs = site.data.songs | sort: 'popularity' | reverse %}
        {% for song in popularSongs %}
            {% if forloop.index > 10 %} {% break %} {% endif %}
            {% include songlist.html %}
        {% endfor %}
    </div>
</div>
<div id="hiddenSongs" class="content">
    <h2>Hidden Songs</h2>
    <div id="hiddenContainer">
        {% assign hiddenSongs = site.data.songs | sort: 'popularity' %}
        {% for song in hiddenSongs %}
        {% if forloop.index > 10 %} {% break %} {% endif %}
        {% include songlist.html %}
        {% endfor %}
    </div>
</div>