---
title: Streams
ptitle: Streams
---
{% assign streamx = site.data.streams | reverse %}
<div class="stream-row">
    <div class="stream-column">
        <h2>Tuesday Chill</h2>
        <ul>
            {% assign streamm = streamx | where: "host", "!Chill" | where: "live", nil %}
            {% for stream in streamm %}
                {% include streamlist.html stream=stream %}
            {% endfor %}
        </ul>
    </div>
    <div class="stream-column">
        <h2>Hosted Thursday</h2>
        <ul>
            {% assign streamm = streamx | where: "live", nil %}
            {% for stream in streamm %}
                {% comment %}
                    {% assign day = stream.date | date: "%w" %}
                    {% if day == "4" %}
                        {% include streamlist.html stream=stream %}
                    {% endif %}
                {% endcomment %}
                {% assign x = stream.host | slice: 0 %}
                {% if stream.live == nil and x != '!' %}
                    {% include streamlist.html stream=stream %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="stream-column">
        <h2>Special</h2>
        <ul>
            {% assign streamm = streamx %}
            {% for stream in streamm %}
                {% assign x = stream.host | slice: 0 %}
                {% if stream.live or x == '!' and stream.host != "!Chill" %}
                    {% include streamlist.html stream=stream %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>