---
layout: default
title: page.name
ptitle: '{{ page.sname }}'
---
<h2>{{ page.position }}</h2>

<h2>Songs</h2>
<ul>
    {% assign filtered_songs = site.data.songs %}
    {% for song in filtered_songs %}
        {% assign found = false %}
        {% for artist in song.artists %}
            {% if artist == page.sname %}
                {% assign found = true %}
            {% endif %}
        {% endfor %}
        {% if found == false %} {% continue %} {% endif %}
    <li><a href="{{ site.baseurl }}/songs{{ song.sname | datapage_url: songs }}">{{ song.artists | join: ", " }} - {{ song.sname }}</a></li>
    {% endfor %}
</ul>